## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [18]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
# Your code here
set_a = 0
sample_list_1 = []

while len(sample_list_1) < 80:
    set_a = random.randrange(0,100)
    if not set_a in sample_list_1:
        sample_list_1.append(set_a)

print(len(sample_list_1))
print(random.sample(sample_list_1, k=80))

80
[50, 48, 87, 99, 20, 41, 95, 2, 40, 70, 18, 83, 57, 96, 7, 60, 79, 88, 71, 24, 90, 43, 91, 17, 39, 84, 27, 63, 68, 11, 23, 4, 44, 34, 75, 62, 53, 69, 38, 45, 82, 22, 8, 65, 42, 66, 26, 6, 86, 15, 85, 36, 5, 93, 73, 92, 46, 3, 14, 51, 98, 12, 25, 9, 21, 61, 47, 29, 97, 32, 1, 58, 19, 10, 54, 94, 35, 59, 76, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [54]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [55]:
# Your code here
set_a = 0
sample_list_2 = []

while len(sample_list_2) < 80:
    set_a = random.randrange(0,100)
    sample_list_2.append(set_a)

print(len(sample_list_2))
print(random.sample(sample_list_2, k=80))

80
[84, 30, 63, 87, 71, 1, 22, 65, 19, 73, 22, 44, 14, 53, 48, 37, 74, 42, 79, 43, 9, 28, 91, 88, 31, 55, 77, 23, 98, 61, 48, 43, 23, 21, 69, 31, 38, 75, 96, 33, 55, 75, 53, 21, 52, 31, 60, 6, 23, 82, 89, 46, 46, 56, 36, 73, 48, 41, 25, 65, 32, 7, 2, 88, 60, 51, 21, 92, 97, 43, 75, 60, 20, 4, 82, 25, 79, 95, 0, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [56]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here
set3 = set1 - set2
print(set3)

{3, 5, 8, 10, 11, 12, 15, 17, 18, 24, 26, 27, 29, 34, 35, 39, 40, 45, 47, 50, 54, 57, 58, 59, 62, 66, 68, 70, 76, 80, 83, 85, 86, 90, 93, 94, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
# Your code here
set4 = set2 - set1
print(set4)

{0, 33, 37, 74, 77, 52, 55, 56, 89, 28, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
# Your code here
set5 = set1 & set2
print(set5)

{1, 2, 4, 6, 7, 9, 14, 19, 20, 21, 22, 23, 25, 32, 36, 38, 41, 42, 43, 44, 46, 48, 51, 53, 60, 61, 63, 65, 69, 71, 73, 75, 79, 82, 84, 87, 88, 91, 92, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set1) == (len(set3)+len(set5))

80
55
37
12
43

True

#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
# Your code here
set6.update(set3, set5)
print(set6)
print(len(set6))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 32, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 73, 75, 76, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [68]:
# Your code here
if set1 == set6:
    print("Son iguales")
else:
    print("No son iguales")

Son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [73]:
# Your code here
if set1.issuperset(set2):
    print("set1 contiene a set2")
else:
    print("set1 no contiene a set2")

if set1.issuperset(set3):
    print("set1 contiene a set3")
else:
    print("set1 no contiene a set3")

set1 no contiene a set2
set1 contiene a set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [76]:
# Your code here
union1 = set3 | set4 | set5
union2 = set1 | set2

if union1 == union2:
    print("Las uniones son iguales")
else:
    print("Las uniones no son iguales")

Las uniones son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
# Your code here
print(set1.pop())

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 32, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 57, 58, 60, 62, 63, 65, 66, 68, 70, 73, 75, 76, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}